---
layout: archive
title: ""
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 70%;
  height: auto;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
</style>
</head>
<body>

<!-- <h2 style="text-align:center">Multiple Slideshows</h2> -->

<!-- <p>Twitter Account Classification</p> -->
<div class="slideshow-container">
  <div class="mySlides1">
    <img src="/images/2._Twitter_account_classification.png" style="width:100%">
  </div>

  <div class="mySlides1">
    <img src="/images/1._Twitter_account_classification.png" style="width:100%">
  </div>

  <div class="mySlides1">
    <img src="/images/3._Twitter_account_classification.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>

<div style="margin: 20px;">
  <h2>Twitter Account Classification</h2>
  <ul>
      <li>Executed comprehensive data pre-processing on Twitter datasets, including stratified splitting to preserve account type distribution, and developed the cleanTweet function to improve text quality for model input.</li>
      <li>Employed a bag of words model with logistic regression for account classification, fine-tuned parameters for optimal performance, and analyzed keywords to distinguish between human and non-human accounts.</li>
      <li><a href="https://github.com/xuanhuyen3011/twitter_classification" target="_blank">Check it out on GitHub</a></li>
  </ul>
</div>

<!-- <p>Precision-Tolerant Database System (Capstone project)</p> -->
<div class="slideshow-container">
  <div class="mySlides2">
    <img src="/images/1._Range_Constraints.png" style="width:100%">
  </div>

  <div class="mySlides2">
    <img src="/images/2._Dependency_Constraints.png" style="width:100%">
  </div>

  <div class="mySlides2">
    <img src="/images/3._Aggregation_Constraints.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
</div>
<div style="margin: 20px;">
  <h2>Precision-Tolerant Database System (Capstone project)</h2>
  <ul>
      <li>Research into flexible database systems that accommodate imprecise data, challenging traditional relational models to improve data retention and query accuracy while maintaining integrity.</li>
      <li>Developing precision-tolerant database systems that retain imprecise data violating Numerical Conditional Constraints, extending existing DBMSs to improve data retention and query handling while exploring cost-saving benefits and analytics enhancements.</li>
      <li><a href="https://github.com/xuanhuyen3011/Precision-Tolerant-Database-Systems" target="_blank">Check it out on GitHub</a></li>
  </ul>
</div>


<div class="slideshow-container">
  <div class="mySlides3">
    <img src="/images/1._dbt.png" style="width:100%">
  </div>

  <div class="mySlides3">
    <img src="/images/2._Snowflake.png" style="width:100%">
  </div>

  <div class="mySlides3">
    <img src="/images/3._Airflow.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
</div>

<div style="margin: 20px;">
  <h2>Ecommerce Data Insights</h2>
  <ul>
      <li>Comprehensive hands-on project integrating dbt (data build tool) with Snowflake, focusing on advanced data transformation and deployment techniques to enhance data pipeline efficiency and reliability.</li>
      <li>Key steps executed: environment setup, dbt configuration, model creation and transformation, implementation of macro functions and testing protocols, culminating in Airflow-based model deployment for streamlined data workflows.</li>
      <li><a href="https://github.com/xuanhuyen3011/ecom_analytics_dag" target="_blank">Check it on via GitHub</a></li>
  </ul>
</div>

<script>
let slideIndex = [1,1,1];
let slideId = ["mySlides1", "mySlides2", "mySlides3"]
showSlides(1, 0);
showSlides(1, 1);
showSlides(1, 2);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  let i;
  let x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}    
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex[no]-1].style.display = "block";  
}
</script>

</body>
</html> 